<h1>Staff</h1>
  {{#each person in controller}}
    <ul>
        {{#if person.photo}}
            <li><img src={{person.photo}} alt="Image"></li>
        {{/if}}
        <li>{{person.fullName}}</li>
        <li>{{person.startDate}}</li>
        <li>{{person.bio}}</li>
    </ul>
  {{/each}}

Staff Members: {{staffCount}}
